<h1>Add a task to <%= @list.name() %> </h1>

<form action="/tasks" method="post">
  <input id="list_id" name="list_id" type="hidden" value="<%= @list.id() %>">

  <label for="description">Description of the task:</label>
  <input id="description" name="description" type="text">
  <label>Due Date:
  <input id="due_date" type="text" name="due_date" placeholder="YYYY-MM-DD">
  </label>


  <button type="submit">Add task</button>
</form>

<% if @list.tasks().any?() %>
<h3>Here are all the tasks in this list:</h3>

<table border="2px">
  <% @list.tasks().each() do |task| %>
  <tr>
  <td>
  <%= task.description() %>
  </td>
  <td>
    <%= task.due_date() %>
  </td>
  </tr>
  <% end %>
</table>

<form action="/lists/<%= @id %>">
  <input type="hidden" name="reorder" value="yes">
  <input type="submit" value="order by due date">
</form>

<% else %>
<p>There are no tasks yet!</p>

<% end %>



<a href="/">Return to Main Page</a>
